/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css ----------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Khula', sans-serif;
  font-weight: 600;
  line-height: 1.25em;
  margin: 1em 0;
}

h2 {
  font-size: 32px;
  margin-top: 0;
}

h3 {
  font-size: 24px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

p {
  font-size: 18px;
  letter-spacing: 0.46px;
  line-height: 24px;
  margin: 18px 0;
}

li {
  letter-spacing: 1.86px;
  margin-bottom: 10px;
}

.green {
  color: #7ece92;
}

.yellow {
  color: #cace7e;
}

.red {
  color: #ce907e;
}

.center-center {
  display: flex;
  max-width: 920px;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
}

a, a:hover, a:visited {
  color: #934DD4;
  font-weight: bold;
}

header, section {
  padding: 40px 20px;
}

section, header, .logo, .nav {
  display: flex;
}

strong {
  font-weight: 800;
}

/* header ------------*/

header {
  background: #352c3e;
  color: #fff;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 222px;
}

.nav {
  flex-wrap: wrap;
}

nav a, nav a:hover, nav a:visited {
  font-weight: bold;
  color: #fff;
  padding: 10px 4px;
}

.logo {
  width: 286px;
  height: 107px;
  overflow: hidden;
  text-indent: -9999px;
}

/* hero ---------------------*/

.hero {
  color: #934DD4;
  height: 400px; /* IE11 align-items: center bug */
  justify-content: center;
  min-height: 400px;
  align-items: center;
}

.hero h2 {
  font-size: 36px;
  text-align: center;;
  color: #934DD5;
  letter-spacing: 0.46px;
  margin: 0;
}

/* author ---------------------*/

.content-header {
  margin-top: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.me {
  margin-right: 20px;
  min-width: 300px;
}

/* contact ---------------------*/

#contact {
  background: #1e1b21;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h2 {
    font-size: 28px;
  }

  .content-header {
    margin-top: 1em;
  }

  .flex-container {
    flex-direction: column;
  }

  .hero h2 {
    font-size: 32px;
  }

  .me {
    margin: 0;
    min-width: 100%;
  }

  .nav {
    display: none;
  }
}
